* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url(img/66.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-weight: 300;
    color: #555;
}

#title {
    position: absolute;
    bottom: 90vh;
    font-size: 40px;
    z-index: 1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    background-color: #fff;
    height: 600px;
    width: 1000px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.player-0-panel,
.player-1-panel {
    align-self: center;
    margin: 0 auto;
    width: 50%;
    height: 600px;
    padding: 10vh;
}

.dice {
    position: absolute;
    left: 50%;
    top: 35vh;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #eb4d4d;
    margin-bottom: 20vh;
}

.active {
    background-color: #f7f7f7;
}

.active .player-name {
    font-weight: 300;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #eb4d4d;
    top: -7px;
    right: 10px;
}

.player-current-box {
    background-color: #EB4D4D;
    color: #FFF;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    color: #222;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
}

.player-current-score {
    font-size: 30px;
}

button:hover {
    font-weight: 600;
}

button:hover i {
    margin-right: 20px;
}

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new {
    top: 8vh;
}

.btn-roll {
    top: 50vh;
}

.btn-hold {
    top: 60vh;
}

#btn-rules {
    top: 70vh;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.winner {
    background-color: #f7f7f7;
}

.winner .player-1 {
    font-weight: 300;
    color: #EB4D4D;
}

#rules {
    display: none;
    position: absolute;
    right: 145vh;
    font-family: lato, sans-serif;
    font-size: 17px;
    font-weight: 800;
}

#rules ul:nth-child(6) {
    list-style: decimal;
}

#close-info {
    position: absolute;
    right: 15vh;
    margin: 10px;
    font-size: 14px;
    list-style: none;
    font-style: italic;
}
